# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
# Do all imports and installs here
import pandas as pd
import os
from pyspark.sql import SparkSession
from pyspark.sql.functions import date_add, col, udf

from datetime import datetime, timedelta
from pyspark.sql import types as T


from functools import reduce
from pyspark.sql import DataFrame
from pyspark.sql.functions import create_map, lit
from itertools import chain
pd.options.display.max_columns = None
pd.options.display.max_rows = None
from pyspark.sql.functions import year,desc,asc,to_date
import pyspark.sql.functions as f
from pyspark.sql.functions import col, avg, year
from pyspark.sql.types import StructType
from pyspark.sql.types import StructField
from pyspark.sql.types import StringType
from pyspark.sql.types import DoubleType
from pyspark.sql import Row
import pandas as pd

from pyspark.sql import SparkSession
from pyspark.sql.functions import date_add, col, udf

from datetime import datetime, timedelta
from pyspark.sql import types as T

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

In [3]:
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()

sas_filenames = [os.path.join('../../data/18-83510-I94-Data-2016', fn) for fn in os.listdir('../../data/18-83510-I94-Data-2016')]
#sas_filenames = ["/tmp/i94_apr16_sub.sas7bdat"]
dfs = []

i94_headers = ['cicid', 'i94yr', 'i94mon', 'i94cit', 'i94res', 'i94port', 'arrdate',
       'i94mode', 'i94addr', 'depdate', 'i94bir', 'i94visa', 'count',
       'visapost', 'occup', 'entdepa', 'entdepd', 'entdepu',
       'matflag', 'biryear', 'dtaddto', 'gender', 'insnum', 'airline',
       'admnum', 'fltno', 'visatype']


def convert_datetime(x):
    try:
        start = datetime(1960, 1, 1)
        return start + timedelta(days=int(x))
    except:
        return None
    
udf_datetime_from_sas = udf(lambda x: convert_datetime(x), T.DateType())


for f in sas_filenames:
    print(f)
    "    #df_spark.unionAll(spark.read.format('com.github.saurfang.sas.spark').load(f.select('cicid')))\n",
    "    #df_spark =spark.read.format('com.github.saurfang.sas.spark').load(f)\n",
    "    #df_spark.show()\n",
    df = spark.read.format('com.github.saurfang.sas.spark') \
               .load(f) \
               .select(*i94_headers) \
               .withColumn("arrdate", udf_datetime_from_sas("arrdate"))\
               .withColumn("depdate", udf_datetime_from_sas("depdate"))
    dfs.append(df)
    "    #df1 = df.select(*headers)\n",
    print(f'the count is {df.count()}')
    "    #df_spark.union(df1)\n",
df_complete = reduce(DataFrame.unionAll, dfs)
print(f'df_complete.count() total is {df_complete.count()}')

../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat
the count is 3096313
../../data/18-83510-I94-Data-2016/i94_sep16_sub.sas7bdat
the count is 3733786
../../data/18-83510-I94-Data-2016/i94_nov16_sub.sas7bdat
the count is 2914926
../../data/18-83510-I94-Data-2016/i94_mar16_sub.sas7bdat
the count is 3157072
../../data/18-83510-I94-Data-2016/i94_jun16_sub.sas7bdat
the count is 3574989
../../data/18-83510-I94-Data-2016/i94_aug16_sub.sas7bdat
the count is 4103570
../../data/18-83510-I94-Data-2016/i94_may16_sub.sas7bdat
the count is 3444249
../../data/18-83510-I94-Data-2016/i94_jan16_sub.sas7bdat
the count is 2847924
../../data/18-83510-I94-Data-2016/i94_oct16_sub.sas7bdat
the count is 3649136
../../data/18-83510-I94-Data-2016/i94_jul16_sub.sas7bdat
the count is 4265031
../../data/18-83510-I94-Data-2016/i94_feb16_sub.sas7bdat
the count is 2570543
../../data/18-83510-I94-Data-2016/i94_dec16_sub.sas7bdat
the count is 3432990
df_complete.count() total is 40790529

In [4]:
#Enhance
countryNames = spark.read.option("header",True) \
       .csv("I94CIT_I94RES.csv")
df_complete = df_complete.withColumn('rough_age', year(df_complete['arrdate']) - df_complete['biryear'])
df_complete = df_complete.join(countryNames, on=['i94res'], how='left')

In [6]:
#Enhance
csvs = spark.read.option("header",True) \
       .csv("visa_cats.csv")
csvs.printSchema()
dffin = csvs.join(df_complete, on=['visatype'], how='inner')

dffin.head()

root
 |-- visatype: string (nullable = true)
 |-- visagroup: string (nullable = true)
 |-- visacategory: string (nullable = true)

Row(visatype='B2', visagroup='Temporary visitors for pleasure', visacategory='Temporary workers and trainees', i94res=692.0, cicid=6.0, i94yr=2016.0, i94mon=4.0, i94cit=692.0, i94port='XXX', arrdate=datetime.date(2016, 4, 29), i94mode=None, i94addr=None, depdate=None, i94bir=37.0, i94visa=2.0, count=1.0, visapost=None, occup=None, entdepa='T', entdepd=None, entdepu='U', matflag=None, biryear=1979.0, dtaddto='10282016', gender=None, insnum=None, airline=None, admnum=1897628485.0, fltno=None, rough_age=37.0, country_name='ECUADOR')

In [ ]:
countryTemps = spark.read.option("header",True) \
       .csv("GlobalLandTemperaturesByCountry.csv") \
       .withColumn("dt", to_date(col('dt'), 'yyyy-MM-dd')) \
       .withColumn('years',f.year(col('dt')))

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

In [4]:
# Performing cleaning tasks here
df_spark.head()
df_spark.select(["visatype"]).distinct().show()
#For every visa type I added which visagroup and which visacategory it belongs to according to the
#https://www.dhs.gov/immigration-statistics/nonimmigrant/NonimmigrantCOA website. The result is visa_cats.csv
#CPL,CP,SBP are missing definitions from that website. I sent a message to DHS via their website, https://www.dhs.gov/, asking what they
#stand for. Are they amalgamations of existing categories? I never received a reply.

+--------+
|visatype|
+--------+
|      F2|
|     GMB|
|      B2|
|      F1|
|     CPL|
|      I1|
|      WB|
|      M1|
|      B1|
|      WT|
|      M2|
|      CP|
|     GMT|
|      E1|
|       I|
|      E2|
|     SBP|
+--------+

In [ ]:
#Claudia C. Wolfe of the NTTO sent me a list of values for the i94 Data - see 835-10_Variables_Included_in_I94_Data.csv. According to that
#spreadsheet dtadfile is an 'Unknown variable'. Accordingly I haven't included it in the list of i94_headers

In [5]:
df_spark.select(["occup"]).distinct().show()
#I sent an email to TTO@trade.gov asking what these values mean. Claudia C. Wolfe wrote "I regret that we do not have access to a dictionary that provides an explanation
#of the codes used to describe the occupation performed in the United States" See NTTO_Email.txt

+-----+
|occup|
+-----+
|  PHA|
|  ENT|
|  REL|
|  ACH|
|  101|
|  EMM|
|  ULS|
|  GEN|
|  DVM|
|  MTH|
|  SVC|
|  ECH|
|  EXA|
|  ENV|
|  ENP|
|  PRF|
|  VOC|
| null|
|  AST|
|  TCH|
+-----+
only showing top 20 rows

In [31]:
#There are 41 people who are 100 years old or greater. How can people that old immigrate to the U.S.? Or is there an error somewhere?

from pyspark.sql.functions import year,desc,asc

age = df_spark.withColumn('rough_age', year(df_spark['arrdate']) - df_spark['biryear'])
age.filter(age.rough_age.isNotNull()).orderBy(asc("biryear")).where(age.rough_age >= 100).count()

41

In [32]:
#There is a 114 year old, 111 year old, and a 110 year old. How can people that old immigrate to the U.S.? Or is there an error somewhere?

from pyspark.sql.functions import year,desc,asc

age = df_spark.withColumn('rough_age', year(df_spark['arrdate']) - df_spark['biryear'])
age.filter(age.rough_age.isNotNull()).orderBy(asc("biryear")).show()

+---------+------+------+------+------+-------+----------+-------+-------+----------+------+-------+-----+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+---------+
|    cicid| i94yr|i94mon|i94cit|i94res|i94port|   arrdate|i94mode|i94addr|   depdate|i94bir|i94visa|count|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|         admnum|fltno|visatype|rough_age|
+---------+------+------+------+------+-------+----------+-------+-------+----------+------+-------+-----+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+---------+
|5956548.0|2016.0|   4.0| 254.0| 276.0|    AGA|2016-04-08|    1.0|     GU|      null| 114.0|    2.0|  1.0|    null| null|      A|   null|   null|   null| 1902.0|05232016|     M|  3693|     TW|4.8501050733E10|00301|     GMT|    114.0|
|5981723.0|2016.0|   4.0| 254.0| 276.0|    AGA|2016-04-21|    1.0|     GU|      null| 111.0|    2.0|  1.0|    null| null|      A|   null|   null|   null| 1905.0|06042016|     M|  3698|     KE|4.1965408028E10|00111|     GMT|    111.0|
|5981260.0|2016.0|   4.0| 254.0| 276.0|    AGA|2016-04-15|    1.0|     GU|      null| 110.0|    2.0|  1.0|    null| null|      A|   null|   null|   null| 1906.0|05292016|     F|  3954|     7C|4.5116230633E10|03102|     GMT|    110.0|
|5902938.0|2016.0|   4.0| 438.0| 438.0|    HHW|2016-04-15|    9.0|     HI|      null| 109.0|    2.0|  1.0|    null| null|      A|   null|   null|   null| 1907.0|07142016|     M|  3562|   null|4.7114237733E10| null|      WT|    109.0|
|5957453.0|2016.0|   4.0| 254.0| 276.0|    SAI|2016-04-08|    1.0|     GU|      null| 109.0|    2.0|  1.0|    null| null|      A|   null|   null|   null| 1907.0|05222016|     M|  3972|     7C|4.5119226233E10|03404|     GMT|    109.0|
|5903797.0|2016.0|   4.0| 116.0| 135.0|    SDP|2016-04-02|    9.0|   null|      null| 108.0|    2.0|  1.0|    null| null|      A|   null|   null|   null| 1908.0|06302016|     M|  5069|   null|4.4052661833E10| null|      WT|    108.0|
|5981724.0|2016.0|   4.0| 254.0| 276.0|    AGA|2016-04-21|    1.0|     GU|      null| 108.0|    2.0|  1.0|    null| null|      A|   null|   null|   null| 1908.0|06052016|     F|  3676|     KE|4.1965198128E10|00111|     GMT|    108.0|
|5903816.0|2016.0|   4.0| 117.0| 438.0|    HHW|2016-04-20|    9.0|     HI|      null| 107.0|    2.0|  1.0|    null| null|      A|   null|   null|   null| 1909.0|07182016|     M|  3518|   null|4.7126658533E10| null|      WT|    107.0|
|5905823.0|2016.0|   4.0| 438.0| 438.0|    HHW|2016-04-20|    9.0|   null|      null| 105.0|    2.0|  1.0|    null| null|      A|   null|   null|   null| 1911.0|07102016|     M|  3468|   null|4.7118595533E10| null|      WT|    105.0|
|5946801.0|2016.0|   4.0| 245.0| 245.0|    SAI|2016-04-10|    1.0|   null|      null| 105.0|    2.0|  1.0|    null| null|      P|   null|   null|   null| 1911.0|04252016|     M|  3880|     OZ|4.5556175633E10|00625|      CP|    105.0|
|5905908.0|2016.0|   4.0| 438.0| 438.0|    HHW|2016-04-20|    9.0|     HI|      null| 103.0|    2.0|  1.0|    null| null|      A|   null|   null|   null| 1913.0|07182016|     M|  3562|   null|4.7126853833E10| null|      WT|    103.0|
|5925484.0|2016.0|   4.0| 112.0| 112.0|    XXX|2016-04-25|    9.0|     HI|      null| 102.0|    2.0|  1.0|    null| null|      A|   null|   null|   null| 1914.0|07242016|     F|  3827|   null|4.7112138533E10| null|      WT|    102.0|
|5926326.0|2016.0|   4.0| 180.0| 438.0|    KOA|2016-04-25|    9.0|     HI|      null| 102.0|    2.0|  1.0|    null| null|      A|   null|   null|   null| 1914.0|07242016|     F|  3762|   null|4.7115851033E10| null|      WT|    102.0|
|5908949.0|2016.0|   4.0| 999.0| 104.0|    NYC|2016-04-02|    9.0|   null|      null| 102.0|    2.0|  1.0|    null| null|      A|   null|   null|   null| 1914.0|07012016|     M|  5054|   null|4.4052614033E10| null|      WT|    102.0|
|5905824.0|2016.0|   4.0| 438.0| 438.0|    HHW|2016-04-20|    9.0|   null|      null| 102.0|    2.0|  1.0|    null| null|      A|   null|   null|   null| 1914.0|07182016|     F|  3518|   null|4.7118092233E10| null|      WT|    102.0|
|5905372.0|2016.0|   4.0| 180.0| 438.0|    HHW|2016-04-20|    9.0|     HI|      null| 101.0|    2.0|  1.0|    null| null|      A|   null|   null|   null| 1915.0|07182016|     F|  3558|   null|4.7118197733E10| null|      WT|    101.0|
|5981625.0|2016.0|   4.0| 254.0| 276.0|    AGA|2016-04-19|    1.0|     GU|      null| 101.0|    2.0|  1.0|    null| null|      A|   null|   null|   null| 1915.0|06032016|     F|  3661|     TW|8.6914328624E10|00301|     GMT|    101.0|
| 576185.0|2016.0|   4.0| 582.0| 582.0|    SFR|2016-04-03|    1.0|     CA|2016-04-08| 100.0|    1.0|  1.0|     MEX| null|      G|      O|   null|      M| 1916.0|10022016|     M|  null|     AM| 9.266356743E10|00668|      B1|    100.0|
|5905909.0|2016.0|   4.0| 438.0| 438.0|    HHW|2016-04-20|    9.0|     HI|      null| 100.0|    2.0|  1.0|    null| null|      A|   null|   null|   null| 1916.0|07182016|     M|  3605|   null|4.7118063933E10| null|      WT|    100.0|
|3298144.0|2016.0|   4.0| 696.0| 696.0|    MIA|2016-04-17|    1.0|     MI|2016-05-09| 100.0|    2.0|  1.0|     CRS| null|      G|      O|   null|      M| 1916.0|10162016|     M|  null|     AA| 9.383651303E10|00914|      B2|    100.0|
+---------+------+------+------+------+-------+----------+-------+-------+----------+------+-------+-----+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+---------+
only showing top 20 rows

In [34]:
from pyspark.sql.functions import to_date,desc,asc

#age.filter(age.rough_age.isNotNull()).orderBy(asc("rough_age")).show(3000)
age.filter(age.rough_age.isNotNull()).orderBy(desc("biryear")).show(100)

+---------+------+------+------+------+-------+----------+-------+-------+----------+------+-------+-----+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+---------+
|    cicid| i94yr|i94mon|i94cit|i94res|i94port|   arrdate|i94mode|i94addr|   depdate|i94bir|i94visa|count|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|         admnum|fltno|visatype|rough_age|
+---------+------+------+------+------+-------+----------+-------+-------+----------+------+-------+-----+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+---------+
|5952559.0|2016.0|   4.0| 252.0| 209.0|    AGA|2016-04-10|    1.0|   null|      null|  -3.0|    2.0|  1.0|    null| null|      A|   null|   null|   null| 2019.0|05242016|     M|  null|   null|5.7545310233E10|00001|     GMT|     -3.0|
|1051118.0|2016.0|   4.0| 438.0| 438.0|    HHW|2016-04-06|    1.0|     CA|2016-04-22|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07042016|     M|  null|     HA|5.5726984633E10|00452|      WT|      0.0|
|1014584.0|2016.0|   4.0| 135.0| 135.0|    LVG|2016-04-06|    1.0|     FL|2016-04-13|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07042016|     F|  null|    TOM|5.5716266033E10|00070|      WT|      0.0|
|1191128.0|2016.0|   4.0| 135.0| 464.0|    FTL|2016-04-07|    1.0|   null|2016-04-08|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07052016|     M|  null|     NZ|5.5792643633E10|00001|      WT|      0.0|
| 849210.0|2016.0|   4.0| 135.0| 135.0|    NYC|2016-04-05|    1.0|     NJ|2016-05-02|   0.0|    2.0|  1.0|    null| null|      O|      I|   null|      M| 2016.0|07032016|  null|  null|     DL|5.5666811933E10|00221|      WT|      0.0|
|1012818.0|2016.0|   4.0| 135.0| 135.0|    LOS|2016-04-06|    1.0|     FL|2016-04-27|   0.0|    2.0|  1.0|    null| null|      O|      O|   null|      M| 2016.0|07042016|  null|  null|     VS|5.5726249433E10|00015|      WT|      0.0|
|1176031.0|2016.0|   4.0| 131.0| 131.0|    NYC|2016-04-07|    1.0|     NY|2016-04-12|   0.0|    2.0|  1.0|    null| null|      O|      O|   null|      M| 2016.0|07052016|  null|  null|     LX|5.5769602233E10|00014|      WT|      0.0|
|1051117.0|2016.0|   4.0| 438.0| 438.0|    HHW|2016-04-06|    1.0|     CA|2016-04-22|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07042016|     M|  null|     HA|5.5726906733E10|00452|      WT|      0.0|
| 822144.0|2016.0|   4.0| 111.0| 112.0|    CHI|2016-04-05|    1.0|     MI|2016-04-18|   0.0|    2.0|  1.0|    null| null|      O|      O|   null|      M| 2016.0|07032016|  null|  null|     LH|5.5686557833E10|00434|      WT|      0.0|
| 468472.0|2016.0|   4.0| 135.0| 135.0|    ORL|2016-04-03|    1.0|     FL|2016-04-16|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07012016|     F|  null|     VS|5.5547361033E10|00075|      WT|      0.0|
| 612581.0|2016.0|   4.0| 687.0| 687.0|    MIA|2016-04-03|    1.0|     FL|2016-04-13|   0.0|    2.0|  1.0|     BNS| null|      G|      O|   null|      M| 2016.0|10022016|     F|  null|     AR| 9.262529393E10|01302|      B2|      0.0|
|1010950.0|2016.0|   4.0| 135.0| 135.0|    LVG|2016-04-06|    1.0|   null|2016-04-20|   0.0|    2.0|  1.0|    null| null|      O|      O|   null|      M| 2016.0|07042016|  null|  null|     VS|5.5724312533E10|00073|      WT|      0.0|
|1040339.0|2016.0|   4.0| 251.0| 251.0|    LOS|2016-04-06|    1.0|     CA|2016-04-19|   0.0|    2.0|  1.0|     TLV| null|      G|      O|   null|      M| 2016.0|10052016|     M|  null|     LY|   6.85137985E8|    5|      B2|      0.0|
|1173487.0|2016.0|   4.0| 130.0| 130.0|    ATL|2016-04-07|    1.0|     FL|      null|   0.0|    2.0|  1.0|    null| null|      G|   null|   null|   null| 2016.0|07052016|     M|  null|     DL|5.5758511533E10|00073|      WT|      0.0|
| 986503.0|2016.0|   4.0| 111.0| 111.0|    NYC|2016-04-06|    1.0|     NY|2016-05-03|   0.0|    2.0|  1.0|    null| null|      G|      K|   null|      M| 2016.0|07042016|     F|  null|     SE|5.5739244033E10|00030|      WT|      0.0|
|1190038.0|2016.0|   4.0| 135.0| 135.0|    CHI|2016-04-07|    1.0|     CA|2016-04-10|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07052016|     F|  null|     WS|5.5777298633E10|01698|      WT|      0.0|
| 612252.0|2016.0|   4.0| 687.0| 687.0|    MIA|2016-04-03|    1.0|     FL|2016-04-07|   0.0|    2.0|  1.0|     BNS| null|      G|      O|   null|      M| 2016.0|10022016|     M|  null|     AR| 9.267881163E10|01306|      B2|      0.0|
| 821057.0|2016.0|   4.0| 111.0| 111.0|    NEW|2016-04-05|    1.0|     IL|2016-04-26|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07032016|     M|  null|     AF|5.5688563433E10|00144|      WT|      0.0|
| 668073.0|2016.0|   4.0| 135.0| 135.0|    TAM|2016-04-04|    1.0|     FL|2016-04-18|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07022016|     F|  null|     BA|5.5623951233E10|02167|      WT|      0.0|
| 846494.0|2016.0|   4.0| 135.0| 135.0|    SFB|2016-04-05|    1.0|     FL|2016-04-19|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07032016|     M|  null|    TOM|5.5661371433E10|00132|      WT|      0.0|
| 707553.0|2016.0|   4.0| 343.0| 343.0|    ATL|2016-04-04|    1.0|     WA|2016-04-19|   0.0|    2.0|  1.0|     ABU| null|      G|      O|   null|      M| 2016.0|10032016|     F|  null|     DL| 9.273194803E10|00083|      B2|      0.0|
| 485613.0|2016.0|   4.0| 209.0| 209.0|    AGA|2016-04-03|    1.0|     GU|2016-04-08|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07022016|     M|  null|     UA|5.5534507533E10|00874|      WT|      0.0|
| 621198.0|2016.0|   4.0| 691.0| 691.0|    MIA|2016-04-03|    1.0|     LA|2016-05-16|   0.0|    2.0|  1.0|     BGT| null|      G|      O|   null|      M| 2016.0|10022016|     F|  null|     FC| 9.263915393E10|00354|      B2|      0.0|
|1003171.0|2016.0|   4.0| 131.0| 131.0|    MIA|2016-04-06|    1.0|     FL|2016-04-15|   0.0|    2.0|  1.0|    null| null|      O|      O|   null|      M| 2016.0|07042016|  null|  null|     AF|5.5729100233E10|00090|      WT|      0.0|
|1039534.0|2016.0|   4.0| 251.0| 251.0|    NYC|2016-04-06|    1.0|     NY|2016-04-17|   0.0|    2.0|  1.0|    null| null|      O|      O|   null|      M| 2016.0|10052016|  null|  null|     LY| 9.285867263E10|00001|      B2|      0.0|
|1168332.0|2016.0|   4.0| 123.0| 123.0|    PHI|2016-04-07|    1.0|     NY|2016-04-10|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07052016|     F|  null|     DL|5.5749416333E10|00047|      WT|      0.0|
|1168673.0|2016.0|   4.0| 123.0| 123.0|    MIA|2016-04-07|    1.0|     FL|2016-04-12|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07052016|     F|  null|     AA|5.5745797333E10|00910|      WT|      0.0|
|1040488.0|2016.0|   4.0| 251.0| 251.0|    MIA|2016-04-06|    1.0|     FL|2016-04-12|   0.0|    2.0|  1.0|     TLV| null|      G|      O|   null|      M| 2016.0|10052016|     F|  null|     BA| 9.291219123E10|00209|      B2|      0.0|
|  38086.0|2016.0|   4.0| 135.0| 135.0|    ORL|2016-04-01|    1.0|     FL|2016-04-17|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|06292016|     F|  null|     VS|5.5449270333E10|00015|      WT|      0.0|
|1178907.0|2016.0|   4.0| 135.0| 135.0|    DET|2016-04-07|    1.0|   null|2016-05-19|   0.0|    2.0|  1.0|    null| null|      O|      O|   null|      M| 2016.0|07052016|  null|  null|     VS|5.5753995033E10|00107|      WT|      0.0|
|1179960.0|2016.0|   4.0| 135.0| 135.0|    NEW|2016-04-07|    1.0|     NY|2016-05-03|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07052016|     F|  null|     UA|5.5766988933E10|00017|      WT|      0.0|
|1183135.0|2016.0|   4.0| 135.0| 135.0|    NYC|2016-04-07|    1.0|     NY|2016-04-13|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07052016|     F|  null|     VS|5.5786231533E10|00009|      WT|      0.0|
|  43510.0|2016.0|   4.0| 135.0| 135.0|    X96|2016-04-01|    2.0|     VQ|2016-07-15|   0.0|    2.0|  1.0|     SAJ| null|      G|      I|   null|      M| 2016.0|09302016|     F|  null|    VES| 9.244346203E10|MANAD|      B2|      0.0|
| 611190.0|2016.0|   4.0| 687.0| 687.0|    NYC|2016-04-03|    1.0|     NY|2016-04-19|   0.0|    2.0|  1.0|    null| null|      O|      O|   null|      M| 2016.0|10022016|  null|  null|     JJ| 9.262706763E10|08080|      B2|      0.0|
| 467081.0|2016.0|   4.0| 135.0| 135.0|    LVG|2016-04-03|    1.0|     NV|2016-04-12|   0.0|    2.0|  1.0|    null| null|      G|      Q|   null|      M| 2016.0|07012016|     M|  null|     VS|5.5555977733E10|00043|      WT|      0.0|
| 645444.0|2016.0|   4.0| 123.0| 123.0|    MIA|2016-04-04|    1.0|     FL|2016-04-09|   0.0|    2.0|  1.0|    null| null|      G|      Q|   null|      M| 2016.0|07022016|     F|  null|     AA|5.5590182133E10|00910|      WT|      0.0|
| 662892.0|2016.0|   4.0| 135.0| 135.0|    LOS|2016-04-04|    1.0|     CA|2016-04-11|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07022016|     M|  null|     BA|5.5642024233E10|00269|      WT|      0.0|
| 825681.0|2016.0|   4.0| 117.0| 117.0|    LOS|2016-04-05|    1.0|     CA|2016-06-03|   0.0|    2.0|  1.0|    null| null|      O|      O|   null|      M| 2016.0|07032016|  null|  null|     BA|5.5692018333E10|00269|      WT|      0.0|
| 833239.0|2016.0|   4.0| 130.0| 130.0|    LOS|2016-04-05|    1.0|     CA|2016-04-26|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07032016|     F|  null|     SK|5.5676939133E10|00939|      WT|      0.0|
| 676223.0|2016.0|   4.0| 148.0| 112.0|    MIA|2016-04-04|    1.0|     FL|2016-04-25|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07022016|     F|  null|     AF|5.5630101133E10|00090|      WT|      0.0|
| 697974.0|2016.0|   4.0| 251.0| 251.0|    NEW|2016-04-04|    1.0|     NY|2016-04-10|   0.0|    2.0|  1.0|     TLV| null|      G|      O|   null|      M| 2016.0|10032016|     M|  null|     UA| 9.269723843E10|00091|      B2|      0.0|
| 851997.0|2016.0|   4.0| 148.0| 112.0|    NYC|2016-04-05|    1.0|     NY|2016-04-11|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07032016|     F|  null|     AB|5.5670046833E10|07248|      WT|      0.0|
| 855604.0|2016.0|   4.0| 148.0| 112.0|    ORL|2016-04-05|    1.0|     FL|2016-05-16|   0.0|    2.0|  1.0|    null| null|      O|      O|   null|      M| 2016.0|07032016|  null|  null|     LH|5.5680892833E10|00464|      WT|      0.0|
| 710548.0|2016.0|   4.0| 438.0| 438.0|    LOS|2016-04-04|    1.0|     CA|2016-04-20|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07022016|     F|  null|     AA|5.5589921933E10|00072|      WT|      0.0|
| 460236.0|2016.0|   4.0| 135.0| 135.0|    BOS|2016-04-03|    1.0|     MA|2016-04-09|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07012016|     F|  null|     DY|5.5577917133E10|07147|      WT|      0.0|
| 714020.0|2016.0|   4.0| 512.0| 512.0|    NAS|2016-04-04|    1.0|     FL|2016-04-11|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|10032016|     M|  null|     UP| 9.270292273E10|00201|      B2|      0.0|
| 799266.0|2016.0|   4.0| 687.0| 687.0|    HOU|2016-04-04|    1.0|     TX|2016-04-14|   0.0|    2.0|  1.0|     BNS| null|      G|      O|   null|      M| 2016.0|05022016|     M|  null|     UA| 9.270807993E10|00818|      B2|      0.0|
| 806002.0|2016.0|   4.0| 690.0| 690.0|    LVG|2016-04-04|    1.0|     FL|2016-07-09|   0.0|    2.0|  1.0|     SNT| null|      G|      O|   null|      M| 2016.0|10032016|     F|  null|     LA| 9.270426383E10|00502|      B2|      0.0|
| 969557.0|2016.0|   4.0| 687.0| 687.0|    MIA|2016-04-05|    1.0|     FL|2016-04-17|   0.0|    2.0|  1.0|     BNS| null|      G|      O|   null|      M| 2016.0|10042016|     M|  null|     JJ| 9.278159003E10|08090|      B2|      0.0|
|1157793.0|2016.0|   4.0| 111.0| 111.0|    NEW|2016-04-07|    1.0|     NJ|2016-04-22|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07052016|     M|  null|     BA|5.5787301233E10|00189|      WT|      0.0|
|1167328.0|2016.0|   4.0| 117.0| 689.0|    HOU|2016-04-07|    1.0|     AZ|2016-04-11|   0.0|    2.0|  1.0|    null| null|      O|      O|   null|      M| 2016.0|07052016|  null|  null|     UA|5.5742192033E10|00128|      WT|      0.0|
|   3825.0|2016.0|   4.0| 109.0| 109.0|    SFR|2016-04-01|    1.0|     CA|2016-04-11|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|06292016|     M|  null|     LH|5.5436993433E10|00454|      WT|      0.0|
| 300208.0|2016.0|   4.0| 261.0| 261.0|    CHI|2016-04-02|    1.0|     FL|2016-07-07|   0.0|    3.0|  1.0|    null| null|      T|      O|   null|      M| 2016.0|     D/S|     F|  null|     QR|   6.72601585E8|  725|      F2|      0.0|
|  89945.0|2016.0|   4.0| 438.0| 438.0|    SEA|2016-04-01|    1.0|     MI|2016-04-08|   0.0|    2.0|  1.0|    null| null|      O|      K|   null|      M| 2016.0|06292016|  null|  null|     CX|5.5429512533E10|00806|      WT|      0.0|
| 304204.0|2016.0|   4.0| 296.0| 296.0|    MAA|2016-04-02|    1.0|     WA|2016-07-01|   0.0|    2.0|  1.0|     ABD| null|      G|      N|   null|      M| 2016.0|10012016|     M|  null|     EY| 9.251884693E10|00131|      B2|      0.0|
|1171996.0|2016.0|   4.0| 129.0| 129.0|    NYC|2016-04-07|    1.0|     NY|2016-05-06|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07052016|     M|  null|     DL|5.5750775833E10|00215|      WT|      0.0|
| 364262.0|2016.0|   4.0| 582.0| 582.0|    LOS|2016-04-02|    1.0|     CA|2016-04-03|   0.0|    2.0|  1.0|     GDL| null|      G|      O|   null|      M| 2016.0|09302016|     M|  null|     Y4| 9.252093963E10|00914|      B2|      0.0|
| 158100.0|2016.0|   4.0| 582.0| 582.0|    MIA|2016-04-01|    1.0|     FL|2016-04-03|   0.0|    2.0|  1.0|     MEX| null|      G|      R|   null|      M| 2016.0|09302016|     F|  null|    360| 9.247099043E10|07204|      B2|      0.0|
| 369870.0|2016.0|   4.0| 582.0| 582.0|    LOS|2016-04-02|    1.0|     CA|2016-04-05|   0.0|    2.0|  1.0|     MEX| null|      G|      O|   null|      M| 2016.0|10012016|     F|  null|     UA| 9.257251303E10|00293|      B2|      0.0|
|1048036.0|2016.0|   4.0| 272.0| 272.0|    NYC|2016-04-06|    1.0|     NY|      null|   0.0|    2.0|  1.0|    null| null|      O|   null|   null|   null| 2016.0|10052016|  null|  null|     KU| 9.290228303E10|00117|      B2|      0.0|
| 417363.0|2016.0|   4.0| 687.0| 687.0|    SFR|2016-04-02|    1.0|     FL|2016-04-09|   0.0|    2.0|  1.0|     BNS| null|      G|      O|   null|      M| 2016.0|10012016|     M|  null|     JJ| 9.253032083E10|08056|      B2|      0.0|
| 206733.0|2016.0|   4.0| 689.0| 689.0|    MIA|2016-04-01|    1.0|     FL|2016-04-10|   0.0|    2.0|  1.0|     BRA| null|      G|      O|   null|      M| 2016.0|09302016|     M|  null|     JJ| 9.249846203E10|08042|      B2|      0.0|
| 424141.0|2016.0|   4.0| 690.0| 690.0|    PHO|2016-04-02|    1.0|     FL|2016-04-10|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|06302016|     F|  null|     AA|5.5467047233E10|00940|      WT|      0.0|
|1048081.0|2016.0|   4.0| 272.0| 272.0|    NYC|2016-04-06|    1.0|     NY|      null|   0.0|    2.0|  1.0|     KWT| null|      G|   null|   null|   null| 2016.0|10052016|     M|  null|     KU| 9.290308603E10|00117|      B2|      0.0|
| 428553.0|2016.0|   4.0| 692.0| 692.0|    FTL|2016-04-02|    1.0|     NE|2016-04-10|   0.0|    2.0|  1.0|     QTO| null|      G|      N|   null|      M| 2016.0|10012016|     M|  null|     AM| 9.260711543E10|00404|      B2|      0.0|
| 207419.0|2016.0|   4.0| 689.0| 689.0|    LOS|2016-04-01|    1.0|     CA|2016-04-18|   0.0|    2.0|  1.0|     RDJ| null|      G|      Q|   null|      M| 2016.0|09302016|     M|  null|     UA| 9.243794913E10|00128|      B2|      0.0|
| 434350.0|2016.0|   4.0| 104.0| 104.0|    MIA|2016-04-03|    1.0|     FL|2016-04-16|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07012016|     F|  null|     AB|5.5544672433E10|07000|      WT|      0.0|
| 518485.0|2016.0|   4.0| 438.0| 438.0|    LOS|2016-04-03|    1.0|     CA|2016-04-11|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07012016|     M|  null|     UA|5.5530361433E10|00099|      WT|      0.0|
| 438926.0|2016.0|   4.0| 111.0| 111.0|    MIA|2016-04-03|    1.0|     NY|2016-04-06|   0.0|    2.0|  1.0|    null| null|      G|      N|   null|      M| 2016.0|07012016|     F|  null|     SE|5.5581383033E10|00070|      WT|      0.0|
| 211950.0|2016.0|   4.0| 691.0| 691.0|    FTL|2016-04-01|    1.0|     AR|2016-05-03|   0.0|    2.0|  1.0|     BGT| null|      G|      O|   null|      M| 2016.0|09302016|     M|  null|     NK| 9.250248433E10|00400|      B2|      0.0|
| 443371.0|2016.0|   4.0| 111.0| 111.0|    TOR|2016-04-03|    1.0|     CA|2016-05-11|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07012016|     F|  null|     AC|5.5564458733E10|00787|      WT|      0.0|
| 809755.0|2016.0|   4.0| 694.0| 694.0|    DEN|2016-04-04|    1.0|     FL|2016-04-10|   0.0|    2.0|  1.0|     LMA| null|      G|      O|   null|      M| 2016.0|10032016|     F|  null|     LA| 9.271296203E10|02514|      B2|      0.0|
| 220856.0|2016.0|   4.0| 104.0| 104.0|    CHI|2016-04-02|    1.0|     IN|2016-04-21|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|06302016|     M|  null|     LH|5.5484136733E10|00430|      WT|      0.0|
|   6453.0|2016.0|   4.0| 111.0| 111.0|    NYC|2016-04-01|    1.0|     NY|2016-04-05|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|06292016|     M|  null|     AF|5.5443831833E10|00006|      WT|      0.0|
|  46046.0|2016.0|   4.0| 148.0| 112.0|    SFR|2016-04-01|    1.0|     CA|2016-05-31|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|06292016|     F|  null|     LX|5.5452636333E10|00038|      WT|      0.0|
| 823507.0|2016.0|   4.0| 116.0| 116.0|    BOS|2016-04-05|    1.0|     MA|2016-07-17|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07032016|     F|  null|     BA|5.5656381033E10|00213|      WT|      0.0|
| 225123.0|2016.0|   4.0| 111.0| 111.0|    WAS|2016-04-02|    1.0|     NC|2016-04-09|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|06302016|     M|  null|     AF|5.5520741033E10|00026|      WT|      0.0|
|    109.0|2016.0|   4.0| 103.0| 103.0|    DET|2016-04-01|    1.0|     MI|2016-04-12|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|06292016|     M|  null|     LH|5.5425587333E10|00442|      WT|      0.0|
|   1161.0|2016.0|   4.0| 104.0| 104.0|    WAS|2016-04-01|    1.0|     MD|2016-04-10|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|06292016|     F|  null|     KL|5.5444507333E10|00651|      WT|      0.0|
| 846127.0|2016.0|   4.0| 135.0| 135.0|    SEA|2016-04-05|    1.0|   null|2016-04-19|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|07032016|     F|  null|     FI|5.5689363733E10|00681|      WT|      0.0|
| 248844.0|2016.0|   4.0| 135.0| 135.0|    WAS|2016-04-02|    1.0|     CA|2016-04-16|   0.0|    2.0|  1.0|    null| null|      G|      O|   null|      M| 2016.0|06302016|     M|  null|     VS|5.5479341633E10|00107|      WT|      0.0|
|  18535.0|2016.0|   4.0| 123.0| 123.0|    SFB|2016-04-01|    1.0|     FL|2016-04-11|   0.0|    2.0|  1.0|    null| null|      G|      Q|   null|      M| 2016.0|06292016|     M|  null|     OR|5.5454311033E10|00317|      WT|      0.0|

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [13]:
frst_gen = {"frst_gen": list(range(2010,1980,-1))}
scnd_gen = {"scnd_gen": list(range(1980,1950,-1))}
thrd_gen = {"third_gen": list(range(1950,1920,-1))}
frth_gen = {"fourth_gen": list(range(1920,1890,-1))}
#fith_gen = {"fifth_gen": list(range(1890,1860,-1))}
#sxth_gen = {"sixth_gen": list(range(1860,1830,-1))}
avg_generation_lst = []

generations = [frst_gen,scnd_gen,thrd_gen,frth_gen]#,fith_gen,sxth_gen]

countryGenSchema = StructType([
            StructField("Country", StringType(), True)
])

avgCountryGens = spark.createDataFrame([], countryGenSchema)

for g in generations:
    row_by_generation = countryTemps.filter(col('years').isin(list(g.values())[0])).groupBy("Country","years").agg(f.avg('AverageTemperature').alias(list(g.keys())[0]))
    avg_generation = row_by_generation.groupBy("Country").agg(f.avg(list(g.keys())[0]))
    avg_generation_lst.append(avg_generation.join(avgCountryGens, on=['Country'], how='left'))
    
frst = avg_generation_lst[0]
scnd = avg_generation_lst[1]
thrd = avg_generation_lst[2]
fourth = avg_generation_lst[3]
#fifth = avg_generation_lst[4]
#sixth = avg_generation_lst[5]

three_cols = frst.join(scnd, on=['Country'], how='left')
four_cols = three_cols.join(thrd, on=['Country'], how='left')
five_cols = four_cols.join(fourth, on=['Country'], how='left')
#six_cols = five_cols.join(fifth, on=['Country'], how='left')
#seven_cols = six_cols.join(sixth, on=['Country'], how='left')
five_cols.show()

sub = five_cols.withColumn('DiffGen1Gen2', five_cols['avg(frst_gen)'] - five_cols['avg(scnd_gen)']) \
                .withColumn('DiffGen2Gen3', five_cols['avg(scnd_gen)'] - five_cols['avg(third_gen)']) \
                .withColumn('DiffGen3Gen4', five_cols['avg(third_gen)'] - five_cols['avg(fourth_gen)'])
#                .withColumn('DiffGen4Gen5', seven_cols['avg(fourth_gen)'] - seven_cols['avg(fifth_gen)']) \
#                .withColumn('DiffGen5Gen6', seven_cols['avg(fifth_gen)'] - seven_cols['avg(sixth_gen)'])
changes_in_temp_by_gen = sub.select(col("Country").alias("country_name"),"DiffGen1Gen2","DiffGen2Gen3","DiffGen3Gen4")
changes_in_temp_by_gen = changes_in_temp_by_gen.withColumn("country_name",f.lower(f.col("country_name")))
#data = data.select(col("Name").alias("name")
#.alias("name")
#changes_in_temp_by_gen = sub.select("Country","DiffGen1Gen2","DiffGen2Gen3","DiffGen3Gen4")#,"DiffGen4Gen5","DiffGen5Gen6")
print('$$$$$$$$$$$$$$$$$$$$$$$$$$$$$')
changes_in_temp_by_gen.show()

+-------------+------------------+------------------+------------------+------------------+
|      Country|     avg(frst_gen)|     avg(scnd_gen)|    avg(third_gen)|   avg(fourth_gen)|
+-------------+------------------+------------------+------------------+------------------+
|         Chad| 27.64079166666667|27.176663888888886| 27.25101666666666| 26.76893611111112|
|     Anguilla|27.280758333333335|26.827502777777777|26.597055555555553| 26.32713055555556|
| Kingman Reef|27.690716666666667| 27.18835555555555|          27.08275|26.688200000000002|
|     Paraguay|23.838030555555555|23.465005555555557|23.344572222222226|23.083288888888887|
|       Russia| -4.45961388888889|-5.434174999999999|-5.303036111111112| -5.83281111111111|
|Palmyra Atoll|27.721394444444435|27.218327777777784|27.113436111111113|26.718544444444447|
|        Yemen|26.772916666666667|26.275844444444445|26.134586111111116|25.906255555555553|
|      Senegal|28.617455555555555|28.034163888888887|27.976936111111115|27.747711111111098|
|       Sweden|3.2321222222222215|2.5016861111111117| 2.786991666666667| 2.259627777777778|
|     Kiribati|27.296055555555544|26.800836111111114| 26.69326388888889|26.286063888888883|
|       Guyana|26.587141666666664| 26.20086111111111| 25.93537222222222| 25.60542222222222|
|        Burma|24.198077777777772|24.015002777777777|23.843155555555555|23.580238888888893|
|      Eritrea|27.256138888888884|26.820855555555553| 26.77048055555555|26.438505555555547|
|       Jersey|11.670330555555555|11.034191666666665| 11.10099722222222|10.799602777777775|
|  Philippines|27.000013888888887|26.740811111111114|26.395891666666667|26.093883333333327|
|     Djibouti|29.319236111111103| 28.78498333333334| 28.70031944444445| 28.50817222222222|
|        Tonga|23.714147222222227| 23.39667222222222|23.242022222222218|         22.798175|
|     Malaysia|26.409122222222223|26.096674999999998|  25.8719611111111|25.504944444444444|
|    Singapore| 27.13931388888889| 26.79001944444444|26.600383333333337|26.253880555555547|
|         Fiji|25.521252777777786| 25.19916666666667| 25.02089166666667|24.623347222222222|
+-------------+------------------+------------------+------------------+------------------+
only showing top 20 rows

$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
+-------------+-------------------+--------------------+-------------------+
| country_name|       DiffGen1Gen2|        DiffGen2Gen3|       DiffGen3Gen4|
+-------------+-------------------+--------------------+-------------------+
|         chad|  0.464127777777783|-0.07435277777777571|0.48208055555554097|
|     anguilla| 0.4532555555555575| 0.23044722222222447|0.26992499999999353|
| kingman reef| 0.5023611111111173| 0.10560555555554885|0.39454999999999885|
|     paraguay| 0.3730249999999984| 0.12043333333333095| 0.2612833333333384|
|       russia| 0.9745611111111092|-0.13113888888888692| 0.5297749999999981|
|palmyra atoll| 0.5030666666666512|  0.1048916666666706| 0.3948916666666662|
|        yemen|0.49707222222222214|  0.1412583333333295|0.22833055555556214|
|      senegal| 0.5832916666666677|0.057227777777772104|0.22922500000001733|
|       sweden| 0.7304361111111097| -0.2853055555555555| 0.5273638888888894|
|     kiribati| 0.4952194444444302| 0.10757222222222396|0.40720000000000667|
|       guyana| 0.3862805555555546|  0.2654888888888891| 0.3299500000000002|
|        burma| 0.1830749999999952| 0.17184722222222248|  0.262916666666662|
|      eritrea| 0.4352833333333308|  0.0503750000000025|0.33197500000000346|
|       jersey| 0.6361388888888904|-0.06680555555555578|0.30139444444444585|
|  philippines|  0.259202777777773| 0.34491944444444655| 0.3020083333333403|
|     djibouti| 0.5342527777777626| 0.08466388888889043|0.19214722222222846|
|        tonga| 0.3174750000000053| 0.15465000000000373| 0.4438472222222174|
|     malaysia| 0.3124472222222252|  0.2247138888888962|0.36701666666665744|
|    singapore| 0.3492944444444497| 0.18963611111110268| 0.3465027777777898|
|         fiji| 0.3220861111111155|  0.1782749999999993|0.39754444444444914|
+-------------+-------------------+--------------------+-------------------+
only showing top 20 rows

In [ ]:
#btw = df_complete.filter(df_complete.rough_age.isNotNull()).where((df_complete.biryear >= 1980)).groupby(df_complete.country_name).count().orderBy(desc("count"))
btw = df_complete.filter(df_complete.rough_age.isNotNull()).where((df_complete.biryear >= 1980)).groupby(df_complete.country_name).count().orderBy(desc("count"))

frst_gen = {"frst_gen": list(range(2010,1980,-1))}
scnd_gen = {"scnd_gen": list(range(1980,1950,-1))}
thrd_gen = {"third_gen": list(range(1950,1920,-1))}
frth_gen = {"fourth_gen": list(range(1920,1890,-1))}
#fith_gen = {"fifth_gen": list(range(1890,1860,-1))}
#sxth_gen = {"sixth_gen": list(range(1860,1830,-1))}
avg_generation_lst = []

generations = [frst_gen,scnd_gen,thrd_gen,frth_gen]#,fith_gen,sxth_gen]

countryGenSchema = StructType([
            StructField("country_name", StringType(), True)
])

avgCountryGens = spark.createDataFrame([], countryGenSchema)

c_name = df_complete.select('country_name').distinct()

avgCountryGens = c_name.join(avgCountryGens, on=['country_name'], how='left')
#avgCountryGens.join(c_name, on=['country_name'], how='left')
avgCountryGens.show(10)
print('$$$$$$$$$$$$$$$$$$$$$')
#avgCountryGens['country_name'] = df_spark['country_name']

for g in generations:
    print(f'{g}')
    #row_by_generation = countryTemps.filter(col('years').isin(list(g.values())[0])).groupBy("Country","years").agg(f.avg('AverageTemperature').alias(list(g.keys())[0]))
    print("df_complete.head(1) == ")
    print(df_complete.head(1))
    print("btw end ")
    print("btw.printSchema() is ")
    btw.printSchema()
    print("df_spark.printSchema() is ")
    df_complete.printSchema()
    
    #btw = df_complete.filter(df_complete.rough_age.isNotNull()).filter(col('biryear').isin(list(g.values())[0])).groupby(df_complete.country_name).agg(f.count('biryear').alias(list(g.keys())[0])).orderBy(desc(list(g.keys())[0]))
    #btw = df_complete.filter(df_complete.rough_age.isNotNull()).filter(col('biryear').isin(list(g.values())[0])).groupby(df_complete.country_name).agg(f.count('biryear'))
    
    btw_temp = df_complete.filter(df_complete.rough_age.isNotNull()).filter(col('biryear').isin(list(g.values())[0]))
    btw = btw_temp.groupby(btw_temp.country_name).agg(f.count('biryear'))
    
    
    print("btw show ")
    btw.show(10)
    print("btw end ")
    #avg_generation_lst.append(avg_generation.join(avgCountryGens, on=['Country'], how='left'))
    #avg_generation_lst.append(btw.join(avgCountryGens, on=['country_name'], how='inner'))
    avgCountryGens = btw.join(avgCountryGens, on=['country_name'], how='left')
    print("YYYYYYYYYYYYYYYYy")
    avgCountryGens.orderBy(asc("country_name")).show()

avgCountryGens = avgCountryGens.withColumn("country_name",f.lower(f.col("country_name")))
#dffin = countryNames.join(btw, on=['i94res'], how='left')
#between = age.filter(age.rough_age.isNotNull()).where((age.rough_age > 40) & (age.rough_age < 60)).orderBy(asc("biryear"))
#dffin.head(500)
print("THIS IS IT!!!!!")
avgCountryGens.show()

In [ ]:
final = changes_in_temp_by_gen.join(avgCountryGens, on=['country_name'], how='inner')
print("YYYYYYYYYYYYYYYYy")
final.orderBy(desc("country_name")).distinct().show(500)
#changes_in_temp_by_gen.filter(col('country_name') == "Japan").show()
changes_in_temp_by_gen.select('country_name').orderBy(desc("country_name")).distinct().show()
print("YACK")
#avgCountryGens.filter(col('country_name') == "Japan").show()
avgCountryGens.select('country_name').orderBy(desc("country_name")).distinct().show()()
#changes_in_temp_by_gen.show()
#print("CCCCCCCCCCCCCCCCCCCC")
#avgCountryGens.show()

YYYYYYYYYYYYYYYYy
+--------------------+-------------------+--------------------+---------+--------+--------+
|        country_name|       DiffGen1Gen2|        DiffGen2Gen3|third_gen|scnd_gen|frst_gen|
+--------------------+-------------------+--------------------+---------+--------+--------+
|            zimbabwe| 0.5750777777777749| 0.07419444444444778|       44|     252|     160|
|              zambia| 0.5812305555555604| 0.08122499999999988|       17|     205|      69|
|               yemen|0.49707222222222214|  0.1412583333333295|        4|      84|     113|
|             vietnam|0.19875000000000398| 0.15246388888888873|      920|    4762|    1653|
|           venezuela|0.33727777777777845|  0.2876916666666709|     4844|   21368|   13392|
|          uzbekistan|  0.865422222222227|  0.3671666666666642|       92|     428|     154|
|             uruguay|  0.487394444444444| 0.14553611111111664|      691|    3052|    1704|
|      united kingdom| 0.5175972222222214| -0.0658499999999993|    41712|  195470|  123217|
|united arab emirates| 0.6004777777777726| 0.20852777777778542|      157|    4393|    3609|
|             ukraine|  0.641747222222226|  0.2630222222222178|      384|    3683|    3239|
|              uganda|0.47008333333333496|0.049044444444444224|       25|     364|     160|
|        turkmenistan| 0.9346222222222202| 0.32141388888888756|        2|      18|      24|
|              turkey|  0.285991666666666|  0.1739027777777764|     1251|    9356|    5911|
|             tunisia| 0.8106694444444464|-0.13314166666667404|       77|     415|     317|
| trinidad and tobago| 0.3804694444444401| 0.28400555555555584|     1092|    6244|    3041|
|               tonga| 0.3174750000000053| 0.15465000000000373|       39|     151|      67|
|                togo|0.48204444444444405|-0.17793611111111574|       15|     111|      35|
|            thailand| 0.1853027777777818| 0.19718888888888486|     1003|    7895|    5470|
|            tanzania|  0.522716666666664| 0.08551666666667401|       34|     267|     123|
|          tajikistan| 0.7538666666666671|  0.2890361111111095|        3|      58|      37|
|              taiwan|0.29597500000000565|  0.3300527777777873|     2144|   16515|   10839|
|               syria|0.34353611111110993| 0.18966944444444422|       49|     256|     211|
|         switzerland| 0.7484638888888906|-0.05054444444444428|     3524|   24886|   18598|
|              sweden| 0.7304361111111097| -0.2853055555555555|     4541|   24128|   15607|
|           swaziland| 0.5104972222222202| 0.11397499999999638|       16|      67|      50|
|            suriname|0.38823055555555896|  0.2639944444444424|       48|     447|     283|
|               sudan|  0.444769444444443|0.031794444444436465|       47|     170|     122|
|           sri lanka| 0.3788749999999972| 0.14368333333333538|      258|    1051|     598|
|               spain| 0.7603111111111112| -0.1386138888888837|     4040|   28326|   16183|
|         south korea| 0.5285499999999956|  0.3003027777777767|     8208|   63949|   55553|
|        south africa| 0.5041000000000047|0.055450000000003996|      748|    5111|    3053|
|     solomon islands|0.45005277777777764| 0.18585277777777165|        3|       7|       5|
|            slovenia| 0.7386083333333335|-0.05477222222221...|      108|    1194|    1011|
|            slovakia| 0.6099666666666668| 0.08909166666666835|      147|    1735|    1605|
|           singapore| 0.3492944444444497| 0.18963611111110268|      439|    6995|    3896|
|        sierra leone| 0.5007805555555542| 0.10523888888888422|       11|      93|      32|
|          seychelles|0.43804999999999694| 0.16116666666666646|        2|      18|      12|
|             senegal| 0.5832916666666677|0.057227777777772104|       70|     408|     144|
|        saudi arabia| 0.4392972222222191| 0.20024166666667753|      294|    4463|    5746|
|              rwanda| 0.5185527777777814|0.017822222222225292|        6|     117|      73|
|              russia| 0.9745611111111092|-0.13113888888888692|     1222|   11281|    9394|
|             romania|  0.469358333333334| 0.17620833333333508|      590|    2628|    2128|
|             reunion|0.48553611111110584| 0.15670833333333434|       24|      72|     215|
|               qatar| 0.6147472222222135|  0.2189249999999987|       31|    1115|    1202|
|            portugal| 0.6870333333333356|-0.09388611111110912|      760|    5263|    2861|
|              poland| 0.7922638888888907| 0.02643333333333242|     1391|    8803|    5718|
|         philippines|  0.259202777777773| 0.34491944444444655|     2493|   13659|    9758|
|                peru| 0.3603999999999985|  0.1753750000000096|     3034|   11384|    5998|
|            paraguay| 0.3730249999999984| 0.12043333333333095|      176|    1110|     964|
|    papua new guinea| 0.3901416666666613| 0.13600555555556681|        1|      37|      14|
|              panama| 0.4498305555555575| 0.14490277777778715|      951|    6332|    3804|
|            pakistan| 0.6471694444444474|   0.148486111111108|      807|    2984|    2015|
|                oman| 0.5619611111111027|  0.2045444444444442|        9|     226|     184|
|              norway| 0.6567083333333333| -0.3050277777777777|     1827|   10984|    7085|
|             nigeria| 0.4527666666666583|-0.17952777777777484|      932|    8220|    4076|
|               niger| 0.5284805555555572|-0.11120555555555711|        5|      42|      26|
|           nicaragua| 0.4342277777777781| 0.11822777777777915|      539|    2737|    1597|
|         new zealand| 0.2597055555555592| 0.30232222222222305|     2339|   12163|    8862|
|       new caledonia|0.47163055555554934| 0.14203611111111414|        5|      34|      20|
|         netherlands| 0.7123888888888867|-0.03578333333333461|     5118|   41003|   27136|
|               nepal| 0.3110527777777783|  0.2153527777777775|      267|    1224|     519|
|             namibia| 0.6034277777777639|-0.01124166666665...|        9|      92|      60|
|          mozambique| 0.5258305555555616|  0.1529138888888859|        4|      73|      70|
|             morocco| 0.7607944444444428|-0.05388055555555127|      408|    1374|     848|
|          montserrat| 0.4433138888888912|  0.2503000000000064|        2|      13|       4|
|            mongolia| 0.9928388888888886|  0.2654555555555558|       49|     380|     336|
|              monaco| 0.7443388888888922|-0.10946944444444462|       47|     283|     171|
|             moldova| 0.5504388888888858| 0.23620000000000374|       48|     410|     181|
|           mauritius| 0.4794138888888817| 0.16206944444444815|       21|     100|     102|
|          mauritania| 0.7145888888888869|0.020797222222221023|        2|      50|      46|
|          martinique| 0.4253333333333309|  0.2609666666666648|       61|     410|     318|
|               malta| 0.7021027777777853|  -0.232138888888894|       29|     177|     125|
|                mali| 0.5676361111111135|-0.00645277777778...|       22|     120|      64|
|            malaysia| 0.3124472222222252|  0.2247138888888962|      407|    3692|    1793|
|              malawi| 0.5385500000000043| 0.13101111111111052|       13|      91|      43|
|          madagascar| 0.5060611111111086|  0.1576361111111204|        7|      49|      26|
|           macedonia|0.40921944444444414|-0.01005000000000...|       58|     353|     171|
|               macau|0.15518611111110658| 0.14921388888890164|       18|     124|     112|
|          luxembourg| 0.7064499999999985|-0.04452499999999...|      119|     742|     541|
|           lithuania| 0.8666138888888888|0.001708333333332...|      163|    1066|    1051|
|       liechtenstein| 0.7488638888888897|-0.00912222222222...|        6|     110|      50|
|               libya|  0.584941666666662|-0.03106666666666...|        3|      47|      22|
|             liberia|0.49424166666666736| 0.08015277777776575|       17|     201|      52|
|             lesotho|0.49228333333333474| 0.08691944444444744|        1|       9|       5|
|             lebanon|0.33948888888888007| 0.11735277777778208|      319|    1587|    1027|
|              latvia| 0.8822972222222232|-0.07256388888888843|       64|     692|     703|
|                laos|0.16726666666666645| 0.15397777777777577|       19|      63|      31|
|          kyrgyzstan|  0.758983333333334|  0.3165499999999999|       11|      98|      76|
|              kuwait| 0.5931166666666599| 0.26195000000000235|      119|    1474|    1854|
|               kenya|0.43510000000000204| 0.10396666666666121|      130|    1106|     531|
|          kazakhstan| 0.9395722222222229|  0.3665750000000001|       45|     557|     694|
|              jordan|0.32627222222223295| 0.18003611111110374|      249|    1415|     903|
|               japan| 0.3630083333333385| 0.36150555555555464|    23296|  128344|   88875|
|             jamaica|0.42626666666666324|  0.1107833333333339|     1338|   10716|    6916|
|               italy| 0.6680555555555561|-0.10049722222222357|     5152|   38401|   21404|
|              israel|0.31317499999999754|  0.1519750000000073|     5096|   20898|   15915|
|             ireland|0.45893888888888945|-0.12755833333333122|     2966|   16322|   10212|
|                iraq|0.49256388888888125|   0.278738888888892|       93|     462|     388|
|                iran| 0.7986999999999966| 0.20706944444444275|      194|     667|     441|
|           indonesia|0.30948055555555243| 0.24431666666666985|      491|    3440|    1872|
|               india| 0.3103583333333333| 0.21723055555555604|    16556|   58431|   30819|
|             iceland| 0.3625277777777778| -0.4242222222222225|      405|    2213|    1213|
|             hungary| 0.5792888888888896| 0.06204166666666566|      487|    3192|    2092|
|           hong kong| 0.1615722222222189| 0.17015277777777627|      590|    5125|    2702|
|            honduras|0.40162777777777237|  0.1116416666666673|     2016|    7127|    4518|
|               haiti|0.44397222222222155| 0.14967777777777513|     1345|    6767|    2586|
|              guyana| 0.3862805555555546|  0.2654888888888891|      231|    2573|    1548|
|              guinea|0.49810555555555425| 0.09575833333333961|       13|      84|      65|
|           guatemala|0.32469999999999644| 0.10055555555556239|     2395|    9474|    5076|
|          guadeloupe| 0.4397638888888835|  0.2524000000000086|       54|     433|     309|
|             grenada| 0.3902361111111148|  0.2869388888888835|       59|     364|     183|
|              greece| 0.3319305555555552|-0.04098888888888652|      716|    3841|    2613|
|               ghana| 0.4815222222222246| -0.1179916666666685|      122|     973|     407|
|             germany|  0.731744444444443|0.005230555555556293|    13927|   89095|   51161|
|             georgia| 0.4683500000000027|  0.4037444444444436|       29|     306|     278|
|              gambia| 0.6000388888888857| 0.03728055555556509|       25|      78|      27|
|               gabon|0.35755555555555674|-0.08311944444444208|       10|      90|      73|
|    french polynesia|0.44511944444445106| 0.10668611111110948|       15|      83|      45|
|       french guiana|  0.421941666666676|   0.248186111111103|        5|      77|      60|
|              france|  0.691719444444443|-0.04480555555555732|    12045|   91607|   78893|
|             finland| 0.7031499999999997|-0.34015555555555554|      620|    6530|    4209|
|                fiji| 0.3220861111111155|  0.1782749999999993|       54|     366|     208|
|            ethiopia|0.46954444444444476| 0.07815000000000083|      148|     774|     343|
|             estonia| 0.8571083333333362|-0.15363055555555416|       74|    1001|     863|
|             eritrea| 0.4352833333333308|  0.0503750000000025|       53|      88|      50|
|   equatorial guinea| 0.3407833333333379|-0.09225555555555687|        5|      30|      40|
|         el salvador|0.39436388888888274| 0.11278611111111303|     4256|    6472|    3100|
|               egypt| 0.3392555555555532|  0.1334777777777738|      623|    3100|    2391|
|             ecuador|   0.43814722222222| 0.18341944444443925|     3517|   19201|   18290|
|  dominican republic|0.45496666666665675|   0.182094444444445|     2418|   13075|    8853|
|            dominica| 0.4253333333333309| 0.26096666666666835|       41|     277|     149|
|            djibouti| 0.5342527777777626| 0.08466388888889043|        1|      16|      21|
|             denmark|0.45567222222221915| -0.6363444444444433|     2355|   13591|    8226|
|      czech republic| 0.7126277777777785| 0.05116388888889034|      522|    4202|    3243|
|              cyprus| 0.3117527777777731| 0.08367777777777974|       92|     457|     354|
|                cuba| 0.4275777777777776|0.053405555555556816|     2073|    2721|     514|
|             croatia| 0.6435388888888927| -0.0450055555555533|      136|     905|     609|
|          costa rica|0.45532500000000553|  0.1287166666666657|     1219|    9478|    6815|
|               congo| 0.3775111111111187|-0.08536111111110856|        3|      80|      40|
|            colombia| 0.3691027777777727| 0.22570000000000334|     6196|   28828|   18262|
|    christmas island|0.40552500000001146| 0.21587777777777717|        1|       1|    null|
|               china| 0.5602055555555578| 0.05195555555555398|    16330|   97751|   69148|
|               chile|0.34539999999999793| 0.17675000000000196|     2064|   12393|    8975|
|                chad|  0.464127777777783|-0.07435277777777571|        3|      21|      16|
|central african r...|0.41068888888889177|-0.08788055555555374|        2|      15|      19|
|      cayman islands| 0.4334055555555558| 0.04934166666667039|      164|    1397|     715|
|          cape verde| 0.5679138888888922| 0.05674444444445115|       53|     293|     132|
|            cameroon| 0.3656444444444418| -0.1285722222222283|       70|     415|     227|
|             burundi| 0.5319555555555517|0.025311111111108175|        6|      46|      34|
|               burma| 0.1830749999999952| 0.17184722222222248|       88|     488|     266|
|        burkina faso| 0.4760944444444384|-0.09432777777777446|       11|     175|     186|
|            bulgaria| 0.4130638888888889| 0.08737500000000153|      304|    1314|     707|
|british virgin is...|0.45677777777776996| 0.24190555555555804|      160|    1403|     883|
|              brazil|  0.473880555555553| 0.15766111111111059|     9686|   70420|   50099|
|            botswana| 0.5583111111111094| 0.06562222222222402|        8|      98|      59|
|             bolivia| 0.3335166666666751|  0.1288111111110979|      503|    2967|    2052|
|               benin| 0.4841611111111064|   -0.19563611111111|       16|      90|      57|
|              belize|0.34539999999999793| 0.08073055555555086|      133|    1049|     545|
|             belgium| 0.6976555555555599|-0.04986388888888982|     1338|   12057|    7125|
|             belarus| 0.8683250000000022| 0.09850555555555207|       77|     621|     616|
|            barbados|0.40675833333332534|  0.2726888888888972|      384|    2358|    1006|
|          bangladesh| 0.1715750000000007| 0.24089444444444297|      189|    1193|     773|
|             bahrain| 0.6111444444444594| 0.23981944444444991|       19|     263|     335|
|             bahamas| 0.4397333333333222|0.023308333333339704|     1258|    8507|    4821|
|          azerbaijan| 0.6122527777777798| 0.37809444444444296|       23|     174|     246|
|             austria| 0.7376055555555556|  0.0119388888888885|     1169|    8439|    5690|
|           australia| 0.4758527777777779| 0.23840833333332867|    12557|   54686|   42556|
|               aruba| 0.3209722222222311| 0.27983611111109497|       91|     579|     375|
|             armenia| 0.5642666666666667| 0.34441944444444417|       40|     287|     198|
|            anguilla| 0.4532555555555575| 0.23044722222222447|        7|      48|      45|
|              angola| 0.5348000000000006|0.033877777777782114|        7|     274|     174|
|             andorra| 0.8063111111111088|  -0.157997222222221|       14|      66|      36|
|             algeria| 0.7573472222222186|-0.04411666666667...|       94|     460|     329|
|             albania| 0.4171638888888918|-0.04461944444444...|      125|     492|     297|
|         afghanistan| 0.8682944444444409| 0.13220555555555613|       23|     107|      89|
+--------------------+-------------------+--------------------+---------+--------+--------+

+--------------------+
|        country_name|
+--------------------+
|               land|
|            zimbabwe|
|              zambia|
|               yemen|
|      western sahara|
|      virgin islands|
|             vietnam|
|           venezuela|
|          uzbekistan|
|             uruguay|
|       united states|
|united kingdom (e...|
|      united kingdom|
|united arab emirates|
|             ukraine|
|              uganda|
|turks and caicas ...|
|        turkmenistan|
|              turkey|
|             tunisia|
+--------------------+
only showing top 20 rows

YACK

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here
if (avgCountryGens.count() < 100){
    print("Quality check FAILED ... not enough countries")
}
zimb = avgCountryGens.filter(avgCountryGens.country_name == "zimbabwe")
if((zimb.select('frst_gen') != 160) or (zimb.select('DiffGen2Gen3') != 0.07419444444444778)){
    print("Quality check FAILED ... Zimbabwe values don't match up")
}

In [ ]:
#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.
 
country_name: lower case string of the name of the country. The field comes from joining the I94 Immigration Data Dataframes and World Temperature Data Dataframes
DiffGen1Gen2: The difference in average temperature between generation 1 and generation 2. Comes from averarging the temperatures in the World Temperature Data Dataframe outlined above.
DiffGen2Gen3: The difference in average temperature between generation 2 and generation 3. Comes from averarging the temperatures in the World Temperature Data Dataframe outlined above.
third_gen: The number of emigres from the third generation. The field comes from the I94 Immigration Data Dataframe described above
scnd_gen: The number of emigres from the second generation. The field comes from the I94 Immigration Data Dataframe described above
frst_gen: The number of emigres from the first generation. The field comes from the I94 Immigration Data Dataframe described above

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.